h2 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}
/* Botones */
.btn-add {
  border-radius: 50px;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
}
.btn-edit,
.btn-delete {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/* Tabla personalizada */
.table-custom thead {
  background-color: #2a9d8f;
}
.table-custom th,
.table-custom td {
  vertical-align: middle;
  border-color: #e9ecef;
}
.table-custom tbody tr:hover {
  background-color: #f1f7f6;
}
/* Modal Headers */
.modal-header {
  background-color: #007BFF;
  color: #fff;
  border-bottom: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
/* Form Floating Labels */
.form-floating > .form-control:focus ~ label {
  opacity: 0.65;
  transform: scale(0.9) translateY(-1.5rem);
}

.nav-link {
  position: relative;
}

#cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  background-color: red;
  color: white;
  padding: 0;
  display: none; /* Oculto por defecto */
}